.secondBorder{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #39ccda;

  animation: alternatColor 2s infinite linear;
  animation-delay: 100s;
}

@keyframes alternatColor {
  1%{
    border-color: #FF8C32;
  }

  50% {
    border-color: #FF8C32;
  }

  100%{
    border-color: #FF8C32;
  }

}

.secondBorder:hover{
  background-color: rgba(41,148,186, 0.06);
  cursor: pointer;

}

@media (max-width: 1400px){
  .firstBorder{
    width: 120px;
    height: 120px;
  }

  .secondBorder{
    width: 130px;
    height: 130px;
  }
}

.firstBorder{
  animation-delay: 5s;
  border: 2px solid;
  width: 185px;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;


  animation: border 2.5s infinite linear;
  animation-delay: 5s ;

}

@keyframes border {

  10%{
    color: #39ccda;
    width: 180px;
    height: 180px;
  }

  20%{
    color: #39ccda;
    width: 190px;
    height: 190px;
  }

  30%{
    color: #39ccda;
    width: 200;
    height: 200;
  }

  40%{
    color: #39ccda;
    width: 210px;
    height: 210px;
  }

  50%{
    color: rgba(41,148,186, 0.7);
    width: 220px;
    height: 220px;
  }

  60%{
    width: 230px;
    height: 230px;
    color: rgba(41,148,186, 0.5);
  }


  70%{
    width: 240px;
    height: 240px;
    color: rgba(41,148,186, 0.3);
  }

  80%{
    width: 250px;
    height: 250px;
    color: rgba(41,148,186, 0.2);
  }

  100%{

    width: 260px;
    height: 260px;
    color: rgba(41,148,186, 0.1);
  }


}



.btnStart{
  font-size: 42px;
  color: white;
  font-weight: bold;
  animation: none;
  font-family: Helvetica, sans-serif;
  background-color: transparent;
  border: none;
}

.btnStart:hover{
  cursor: pointer;

}
